<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
	<!-- main content  -->
	<div class="form-bg">
		<div class="container">
			<div class="row">
				<div class=" col-md-4 offset-md-4 col-sm-3 offset-sm-6 ">
					<form class="form_horizontal">
						<div class="form-icon"><i class="fa fa-user-circle"></i></div>
						<h3 class="title"> Login</h3>
						<div class="form_group">
							<span class="input_icon"><i class="fa fa-user"></i></span>
							<input type="text" class="form-control" name="" placeholder="Enter username" required>
						</div>
						<div class="form_group">
							<span class="input_icon"><i class="fa fa-lock"></i></span>
							<input type="password" class="form-control" name=""  placeholder="Enter password" required>
						</div>
						<button class="btn signin" type="submit" >login</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
